<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/filter" class="filter-button">Filters</a>
  </div>
</nav>

<div class="page-container">
  <header class="page-header">
    <h1>Harry Potter Characters List</h1>
  </header>

  <div class="character-grid">
    <div *ngFor="let character of paginatedCharacters" class="character-card">
      <a routerLink="/{{ character.id }}" class="character-link">
        <img
          src="{{ character.image }}"
          alt="{{ character.name }} Patch"
          class="character-patch-small"
        />
        <!-- character Info on the Right -->
        <div class="character-info">
          <h2>{{ character.name }}</h2>
          <p><strong>House:</strong> {{ character.house }}</p>
        </div>
      </a>
    </div>
  </div>

  <div class="paginator-container">
    <mat-paginator
      [length]="characters.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[9]"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>
